@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: black;
    color: white;
    background-image: url('../img/img-generar.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
}

.navbar {
    background-color: black;
}

.navbar-brand, .navbar-nav .nav-link {
    color: white !important;
}

.container {
    max-width: 400px;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.titulo-formulario{
    text-align: center;
    margin-bottom: 25px;
    color: black;
    padding-top: 22px;
    font-weight: bold;
}

.contenedor-formulario{
    background-color: white;
    border-radius: 5%;
    height: 500px;
    margin-top: 40px;
}

form{
    color: black;
}


.contenedor-boton-formulario{
    text-align: center;
}

